<%- include('./parts/head.ejs') -%>
<%- include('./parts/nav.ejs') -%>
<div class="fw-bold container my-5 p-5 border border-5 border-warning text-success shadow-lg rounded bg-muted bg-gradient">
    <h1 class="lh-lg">Post a blog about your calisthenics journey!</h1>
    <h2 class="lh-sm">Here are some helpful questions to answer:</h2>
    <p class="fs-3">
        <ul class="fst-italic lh-lg">
            <li>Are you a beginner, intermediate, or advanced?</li>
            <li>What progressions are you currently at for a skill move?</li>
            <li>How long is your hold time for each skill move?</li>
            <li>Do you perform weighted exercises? If so, which ones?</li>
            <li>Which exercises are most helpful for strength?</li>
            <li>Which exercises are most helpful for balance?</li>
        </ul>
    </p>
    <div class="fw-light text-center m-3 p-2">
        <a id="createBlogBtn" class="border border-warning border-3 shadow-lg btn-warning" href="/blogs/create">Create New Blog</a>
    </div>
</div>
<div class="container my-5 fw-bold text-center">
    <% if(blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
            <a href="/blogs/<%= blog._id %>">
                <h3><%= blog.title %></h3>
                <p><%= blog.body %></p>
            </a>
        <% }) %>
    <% } else { %>
        <p>No blogs posted =(</p>
    <% } %>
</div>
<%- include('./parts/footer.ejs') -%>
</body>
</html>